@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: poppins;
    src: url('/fonts/Poppins-SemiBold.ttf');
}

.poppins {
    font-family: poppins;
}

@font-face {
    font-family: poppins-regular;
    src: url('/fonts/Poppins-SemiBold.ttf');
}

.poppins-regular {
    font-family: poppins-regular;
}


.bg-gradient {
    background-image: linear-gradient(to right, #6366F1, #38BDF8, #10B981);
}